@import url(c:\Users\6J1872897\VSCode Projects\dream-stream\dream-stream-client\dream-stream\src\global-styles\global.css);
.container {
  margin: 0 auto;
}

.header, .subheader {
  will-change: transform;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: transparent;
}

.header {
  -webkit-animation: fadeInTop 2s;
          animation: fadeInTop 2s;
  font-size: 5.2rem;
  letter-spacing: -0.1rem;
  margin-top: 0;
  margin-bottom: 1.6rem;
  margin-left: 2rem;
  margin-right: 2rem;
  -webkit-transition: ease-in-out 0.9s;
  transition: ease-in-out 0.9s;
  color: var(--white);
}

.subheader {
  -webkit-animation: fadeInBottom 2s;
          animation: fadeInBottom 2s;
  margin: 0;
  font-size: 2.4rem;
  line-height: 1.6;
  letter-spacing: -0.1rem;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  color: var(--white);
  margin-left: 2rem;
  margin-right: 2rem;
}

.sign-up-form, .header.fadeInUp, .subheader.fadeInUp {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.sign-up-form {
  -webkit-animation: fadeInFromBack 3s;
          animation: fadeInFromBack 3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  background-color: rgba(201, 42, 42, 0.3);
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 1.5rem;
}

.sign-up-form .input-field {
  position: relative;
}

.sign-up-form header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-size: 3.2rem;
  font-weight: 700;
  border-bottom: 1px solid var(--dim-white);
  width: 16rem;
  padding-bottom: 1rem;
  margin-bottom: 1.6rem;
}

.sign-up-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  -webkit-transform: translateY(-13.5rem) translateX(1rem);
          transform: translateY(-13.5rem) translateX(1rem);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  color: var(--white);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 500;
  pointer-events: none;
  height: 2rem;
  position: absolute;
}

.sign-up-form label:nth-of-type(1) {
  top: 14.4rem;
}

.sign-up-form label:nth-of-type(2) {
  top: 21.4rem;
}

.sign-up-form label:nth-of-type(3) {
  top: 28.1rem;
}

.sign-up-form label:nth-of-type(4) {
  top: 34.9rem;
}

.sign-up-form input {
  margin-bottom: 0.8rem;
  width: 40rem;
  height: 3.6rem;
  border-radius: 0.2rem;
  border-style: none none solid none;
  border-color: var(--white);
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: var(--white);
  position: relative;
}

.sign-up-form input:focus {
  border-color: #c92a2a;
}

.sign-up-form input::-webkit-input-placeholder {
  color: transparent;
}

.sign-up-form input:-ms-input-placeholder {
  color: transparent;
}

.sign-up-form input::-ms-input-placeholder {
  color: transparent;
}

.sign-up-form input::placeholder {
  color: transparent;
}

.sign-up-form input:focus + label,
.sign-up-form input:not(:placeholder-shown) + label {
  -webkit-transform: translateY(-16.5rem) translateX(0rem);
          transform: translateY(-16.5rem) translateX(0rem);
}

.sign-up-form .form-submit-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.sign-up-form .form-submit-box button {
  margin-top: 0.5rem;
  width: 30rem;
  padding: 0.8rem 2.4rem;
  border: none;
  border-radius: 0.2rem;
  background-color: rgba(201, 42, 42, 0.8);
  color: var(--white);
  font-weight: 500;
  font-size: 2rem;
}

.sign-up-form .form-submit-box button:hover {
  cursor: pointer;
  background-color: rgba(201, 42, 42, 0.7);
}

.sign-up-form .form-submit-box a {
  text-decoration: none;
  color: #a5d8ff;
  border-bottom: 0.1rem dotted #a5d8ff;
}

@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes fadeInFromBack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromBack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 83em) {
  .sign-up-form input {
    width: 40rem;
  }
}

@media (max-width: 63em) {
  .header {
    text-align: center;
    font-size: 4.8rem;
  }
  .subheader {
    text-align: center;
    font-size: 2rem;
  }
  .header, .subheader {
    text-align: center;
    margin: 0 4rem;
  }
  .grid-2-cols {
    gap: 0;
  }
  .grid-2-cols .right-side {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 120rem;
  }
  .sign-up-form {
    margin: 0 auto;
    width: 80%;
  }
  .sign-up-form label {
    -webkit-transform: translateY(-13.5rem) translateX(1rem);
            transform: translateY(-13.5rem) translateX(1rem);
  }
  .sign-up-form input {
    width: 30rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .sign-up-form input:focus + label,
  .sign-up-form input:not(:placeholder-shown) + label {
    -webkit-transform: translateY(-16.5rem) translateX(0rem);
            transform: translateY(-16.5rem) translateX(0rem);
  }
}
/*# sourceMappingURL=Landing.css.map */