:root {
    --white: #f8f9fa;
    --dim-white: #dee2e6;
    --red: #c92a2a;
}

* {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    background: linear-gradient(to left, rgb(20, 20, 20), rgb(33, 37, 41));
    font-size: 62.5%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 120rem;
    padding-top: 8rem;
    height: 100%;
}

.grid-2-cols {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.6rem;
    width: 100%; //

    .left-side, .right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // border: 1px solid red;
    }
}

@media (max-width: 83em) {
    html {
        font-size: 56.25%;
    }
}

@media(max-width: 71em) {
    html {
        font-size: 50%;
    }

    .sign-up-form label {
        &:nth-of-type(3) {
            top: 28.2rem;
        }
        &:nth-of-type(4) {
            top: 35.2rem;
        }
    }

    .sign-up-form {
        input {
            width: 40rem;
        }
    }
}

@media(max-width: 63em) {
    .grid-2-cols {
        grid-template-columns: 1fr;
    }
} 